

/* Change the size and background color
of the leaflet map container 
.leaflet-container { background-color: black;
                    height:100%;}
                    
                    
#map-map*/



/* bootstrap.min.css | http://127.0.0.1:3000/bootstrap-3.4.1/css/bootstrap.min.css */

.container-fluid {
   padding-right: 0px; 
   padding-left: 0px; 
   height: 100%;
}


html, body, .container-fluid, .shiny-spinner-output-container {
  height: 100%;
  overflow: hidden;
  width: 100%;
  padding-right: 0px; 
  padding-left: 0px; 
}

#map {
  width: auto;
  height: 100%;
}

#map-map {
  width: auto;
  height: 100%;
}

